---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Not Found">
  <main id="skip" class="flex h-screen flex-grow flex-col py-12">
    <div class="m-auto flex max-w-2xl flex-col items-center justify-center">
      <h1 class="mb-4 text-8xl font-bold tracking-tight text-black md:text-9xl">418</h1>
      <h2 class="mb-4 text-3xl font-bold tracking-tight md:text-4xl">I'm a Teapot</h2>
      <p class="mb-8 text-slate-700">Actually, page not found but error 404 is too boring.</p>
      <a href="/" class="mx-auto w-64 rounded-md bg-purple-400 p-2 text-center font-bold sm:p-4"> Return Home</a>
    </div>
  </main>
</Layout>
